* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

main {
  background-color: hsl(0deg, 0%, 96%);
}

a {
  font-size: 14pt;
  text-decoration: none;
  color: hsl(0deg, 0%, 0%);
}

a:focus,
button:focus, .btn-text:focus {
  outline: 5px solid hsl(317deg, 100%, 74%);
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible), .btn-text:focus:not(:focus-visible) {
  outline: 0;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24pt;
}

h2 {
  margin-bottom: 1.5rem;
}

span, p {
  margin: 0;
  font-size: 14pt;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 1.3rem;
}

@font-face {
  font-family: "Shrikhand";
  src: url("./font/Shrikhand-Regular.woff") format("woff"), url("./font/Shrikhand-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Light.woff") format("woff"), url("./font/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Regular.woff") format("woff"), url("./font/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Bold.woff") format("woff"), url("./font/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
.btn-text {
  background-image: linear-gradient(170deg, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  box-shadow: 0 5px 10px #c2c2c2;
  border: none;
  border-radius: 50px;
  padding: 20px;
  width: fit-content;
  font-size: 14pt;
  color: white;
  cursor: pointer;
  transition: all 200ms;
}
.btn-text:hover {
  box-shadow: 0 5px 10px #a8a8a8;
}
.btn-text:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.btn-text--order {
  padding-bottom: 5rem;
  text-align: center;
}
.btn-text--order > button {
  padding: 20px 60px;
}

.btn-like {
  position: relative;
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.btn-like::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-regular);
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
}
.btn-like::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f004";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 2rem;
  background-image: linear-gradient(10deg, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  color: transparent;
  background-clip: text;
  opacity: 0;
  transition: opacity 200ms, transform 200ms ease-in;
}
.btn-like:hover::after {
  opacity: 1;
  transform: scale(1.15);
}

@keyframes pop-up {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes spinner-rotation {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.spinner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0.85);
  z-index: 1;
  animation: pop-up 0s 2s forwards reverse;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-circle {
  position: absolute;
  border: 7px solid hsl(267deg, 66%, 60%);
  border-top-color: transparent;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  transform: rotate(45deg);
  animation: spinner-rotation 2s linear both 3;
}

.middle-circle {
  position: absolute;
  border: 7px solid hsl(317deg, 100%, 74%);
  border-bottom-color: transparent;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transform: rotate(45deg);
  animation: spinner-rotation 1.5s linear both reverse 3;
}

.inner-circle {
  position: absolute;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: hsl(165deg, 56%, 74%);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 0.7rem;
  height: 70px;
}
header span {
  font-family: "Shrikhand", sans-serif;
  font-size: 24pt;
  font-weight: bold;
}
header a {
  position: absolute;
  left: 25px;
  font-size: 16pt;
  color: #333333;
}

.footer {
  margin: 0;
  padding: 1.3rem;
  background-color: #363636;
}
.footer__logo {
  display: block;
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", sans-serif;
  font-size: 16pt;
  color: hsl(0deg, 0%, 96%);
}
.footer__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  color: hsl(0deg, 0%, 96%);
}
.footer__icon {
  width: 1.8rem;
  font-size: 12pt;
}

@media only screen and (min-width: 650px) {
  .footer {
    padding: 1.8rem;
  }
  .footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-links__group {
    flex-direction: column;
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  .footer {
    padding-left: 2.8rem;
  }
}
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px #c2c2c2 inset;
  height: 60px;
  background-color: #e8e8e8;
}
.location__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #333333;
}
.location__content .location__icon {
  position: absolute;
  left: -30px;
}

.call-to-action {
  padding: 0;
}
.call-to-action__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 1.3rem;
}
.call-to-action__content h2 {
  margin: 0;
  width: 70%;
  text-align: center;
  font-size: 22pt;
}
.call-to-action__content p {
  margin-bottom: 0.5rem;
  width: 90%;
  text-align: center;
  font-size: 16pt;
  font-weight: 300;
}

.tutorial {
  background-color: white;
}
.tutorial__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  margin: 0;
  padding: 0 0 0 0.8rem;
}
@media only screen and (min-width: 800px) {
  .tutorial__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.step {
  display: flex;
  justify-content: stretch;
  align-items: center;
  position: relative;
}
.step-1.step::after {
  content: "1";
}
.step-2.step::after {
  content: "2";
}
.step-3.step::after {
  content: "3";
}
.step::after {
  border-radius: 50%;
  width: 18.2pt;
  height: 18.2pt;
  line-height: 18.2pt;
  text-align: center;
  position: absolute;
  left: -0.8rem;
  font-size: 12pt;
  color: white;
  background-color: hsl(267deg, 66%, 60%);
}
.step__content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px #dbdbdb;
  position: relative;
  padding: 1rem 2rem;
  width: 100%;
  height: 56pt;
  background-color: hsl(0deg, 0%, 96%);
}
.step__content:hover {
  box-shadow: 0 5px 10px #c2c2c2;
}
.step__content__icon {
  font-size: 16pt;
  color: #666666;
}
.step__content:hover {
  background-color: #f1eafb;
}
.step__content:hover .step__content__icon {
  color: hsl(267deg, 66%, 60%);
}
@media only screen and (min-width: 800px) {
  .step {
    width: 33%;
  }
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  padding-bottom: 3rem;
}
.restaurants-list__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
}
@media only screen and (min-width: 650px) {
  .restaurants-list__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
}

.restaurant-card {
  border-radius: 15px;
  box-shadow: 0 5px 10px #dbdbdb;
  position: relative;
}
.restaurant-card__image {
  border-radius: 15px 15px 0 0;
}
.restaurant-card__body {
  border-radius: 0 0 15px 15px;
}
.restaurant-card:hover {
  box-shadow: 0 5px 10px #c2c2c2;
}
.restaurant-card__image {
  position: relative;
  margin: 0;
  height: 200px;
  overflow: hidden;
}
.restaurant-card__image.new::after {
  border-radius: 5px;
  content: "Nouveau";
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 0.5rem;
  width: fit-content;
  font-size: 12pt;
  font-weight: bold;
  color: #21735f;
  background-color: hsl(165deg, 56%, 74%);
}
.restaurant-card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1.8rem 1.2rem 1rem;
  background-color: white;
}
.restaurant-card__body p {
  margin-top: 0.4rem;
  font-weight: 300;
}
.restaurant-card .btn-like-container {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
@media only screen and (min-width: 650px) {
  .restaurant-card {
    width: 50%;
  }
}
@media only screen and (min-width: 800px) {
  .restaurant-card {
    margin: 10px;
  }
}

.restaurant-card__image img {
  position: absolute;
  bottom: 0;
}
@media only screen and (min-width: 500px) {
  .restaurant-card__image img {
    bottom: -30px;
  }
}
@media only screen and (min-width: 650px) {
  .restaurant-card__image img {
    bottom: auto;
    top: 0;
  }
}
@media only screen and (min-width: 950px) {
  .restaurant-card__image img {
    top: auto;
    bottom: -20px;
  }
}

.menu-heading {
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
}
.menu-heading__image {
  position: relative;
  height: 350px;
  overflow: hidden;
  margin: 0;
}
.menu-heading__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 40px 40px 0 0;
  position: absolute;
  bottom: 0;
  padding: 2rem 2.3rem 0.5rem 1.3rem;
  width: 100%;
  background-color: hsl(0deg, 0%, 96%);
}
@media only screen and (min-width: 650px) {
  .menu-heading__title {
    justify-content: flex-start;
    gap: 35px;
    padding-left: 1.8rem;
  }
}
@media only screen and (min-width: 800px) {
  .menu-heading__title {
    padding-left: 2.8rem;
    padding-bottom: 1.5rem;
  }
}

.menu-heading__image img {
  position: absolute;
}
@media only screen and (min-width: 650px) {
  .menu-heading__image img {
    bottom: 0;
  }
}
@media only screen and (min-width: 950px) {
  .menu-heading__image img {
    bottom: -50px;
  }
}
@media only screen and (min-width: 1050px) {
  .menu-heading__image img {
    bottom: -100px;
  }
}

.menu-section {
  position: relative;
  padding-top: 0;
  padding-bottom: 2rem;
  opacity: 0;
  animation: appear 750ms ease-out forwards;
}
.menu-section__heading {
  position: relative;
  margin-bottom: 22.5pt;
  width: fit-content;
  font-size: 15pt;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-section__heading::after {
  content: "";
  position: absolute;
  bottom: -6pt;
  left: 0;
  width: 3rem;
  height: 2.25pt;
  background-color: hsl(165deg, 56%, 74%);
}
@media only screen and (min-width: 650px) {
  .menu-section {
    padding: 0 1.8rem 3rem 1.8rem;
  }
}
@media only screen and (min-width: 800px) {
  .menu-section {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }
}

.course {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 20px;
  box-shadow: 0 5px 10px #dbdbdb;
  margin: 1rem 0;
  background-color: white;
  overflow: hidden;
}
.course:hover {
  box-shadow: 0 5px 10px #c2c2c2;
}
.course__body {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.8rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__name h3 {
  font-size: 15pt;
  font-weight: bold;
  line-height: 1.4;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__name p {
  font-size: 13pt;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course__price {
  margin-left: 1.5rem;
  margin-right: 0.8rem;
  font-weight: bold;
  font-size: 13pt;
}

@keyframes appear {
  0% {
    opacity: 0;
    top: 15px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
.menu-section:nth-child(1) {
  animation-delay: 0ms;
}

.menu-section:nth-child(2) {
  animation-delay: 200ms;
}

.menu-section:nth-child(3) {
  animation-delay: 400ms;
}

.menu-section:nth-child(4) {
  animation-delay: 600ms;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 0;
  font-size: 28px;
  color: white;
  background-color: hsl(165deg, 56%, 74%);
  transition: width 270ms cubic-bezier(0, 0.1, 0.58, 1);
}
.check__icon {
  position: absolute;
  right: -28px;
  animation: check-position-out 270ms cubic-bezier(0, 0.1, 0.58, 1);
}

.course:hover .check {
  width: 75px;
  animation: check-slide-in 270ms cubic-bezier(0, 0.1, 0.58, 1);
}
.course:hover .check__icon {
  right: 50%;
  transform: translateX(50%);
  animation: check-position-in 270ms cubic-bezier(0, 0.1, 0.58, 1) forwards;
}
.course:hover .check__icon > i {
  animation: check-rotate 202.5ms 67.5ms cubic-bezier(0, 0.1, 0.58, 1) forwards;
}

@keyframes check-slide-in {
  from {
    width: 0;
  }
  to {
    width: 75px;
  }
}
@keyframes check-rotate {
  from {
    rotate: 1deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes check-position-in {
  from {
    right: -28px;
  }
  to {
    right: 50%;
    transform: translateX(50%);
  }
}
@keyframes check-position-out {
  from {
    right: 50%;
    transform: translateX(50%);
  }
  to {
    right: -28px;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
