/* Ohmyfood */
/* Author Lalyrose Domergue */
/* Date 2022.09 */
@font-face {
  font-family: "Shrikhand";
  src: url("./font/Shrikhand-Regular.woff") format("woff"), url("./font/Shrikhand-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Light.woff") format("woff"), url("./font/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Regular.woff") format("woff"), url("./font/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./font/Roboto-Bold.woff") format("woff"), url("./font/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}

main {
  background-color: #F6F6F6;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24pt;
  font-weight: normal;
}

h2 {
  margin-bottom: 1.5rem;
}

span, p {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin: 0;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: normal;
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 1.5rem;
}

.btn-text {
  box-shadow: 0 5px 10px #c3c3c3;
  background-image: linear-gradient(170deg, #ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  padding: 20px;
  width: fit-content;
  font-size: 14pt;
  color: white;
}
.btn-text:hover {
  box-shadow: 0 5px 10px #aaaaaa;
}
.btn-text:hover {
  background-image: linear-gradient(170deg, #ff8de0, #9e67e0);
}

.btn-like {
  border: none;
  height: 40px;
  width: 40px;
  background-color: white;
}
.btn-like__outline {
  fill: black;
}
.btn-like__background {
  fill: white;
}
.btn-like__gradient .color-1 {
  stop-color: #9356dc;
}
.btn-like__gradient .color-2 {
  stop-color: #ff79da;
}
.btn-like:hover .btn-like__background, .btn-like:hover .btn-like__outline {
  fill: url(#btn-like-gradient);
}

.label-new {
  border-radius: 5px;
  padding: 0.5rem;
  width: fit-content;
  font-size: 12pt;
  font-weight: bold;
  color: #217460;
  background-color: #99E2D0;
}
.label-new__image {
  border-radius: 5px 5px 0 0;
}
.label-new__body {
  border-radius: 0 0 5px 5px;
}

.underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #99E2D0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  padding-top: 0.7rem;
  height: 70px;
}
header span {
  font-family: "Shrikhand", sans-serif;
  font-size: 24pt;
  font-weight: normal;
}
header a {
  display: flex;
  position: absolute;
  left: 25px;
  font-size: 16pt;
  color: #333333;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  box-shadow: 0px 3px 3px #c3c3c3 inset;
  height: 60px;
  background-color: #e9e9e9;
}
.location:hover {
  box-shadow: 0px 3px 3px #c3c3c3 inset;
}

.location__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  color: #333333;
}
.location__content .location__icon {
  display: flex;
  position: absolute;
  left: -30px;
}

.call-to-action {
  padding: 0;
}

.call-to-action__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem;
}
.call-to-action__content h2 {
  margin: 0;
  width: 70%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 22pt;
  font-weight: bold;
}
.call-to-action__content p {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: normal;
  margin-bottom: 0.5rem;
  width: 90%;
  text-align: center;
  font-size: 16pt;
  font-weight: 300;
}

.tutorial {
  background-color: white;
}
.tutorial__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  margin: 0;
  padding: 0 0 0 0.8rem;
}
@media only screen and (min-width: 800px) {
  .tutorial__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
}

.step {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  gap: 0;
  position: relative;
}
@media only screen and (min-width: 800px) {
  .step {
    width: 33%;
  }
}
.step__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  border-radius: 20px;
  box-shadow: 0 5px 10px #dddddd;
  padding: 0 2rem;
  width: 100%;
  height: 80px;
  background-color: #F6F6F6;
}
.step__content__image {
  border-radius: 20px 20px 0 0;
}
.step__content__body {
  border-radius: 0 0 20px 20px;
}
.step__content:hover {
  box-shadow: 0 5px 10px #c3c3c3;
}
.step__content__icon {
  font-size: 16pt;
  color: #666666;
}
.step__content:hover {
  background-color: #f2eafb;
}
.step__content:hover .step__content__icon {
  color: #9356dc;
}
.step__number {
  border-radius: 0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  position: absolute;
  left: -0.8rem;
  font-size: 12pt;
  color: white;
  background-color: #9356dc;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
  padding-bottom: 1.5rem;
}
.restaurants-cards__group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
}
@media only screen and (min-width: 700px) {
  .restaurants-cards__group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 1.5rem;
  }
}

.restaurant-card {
  border-radius: 15px;
  box-shadow: 0 5px 10px #dddddd;
}
.restaurant-card__image {
  border-radius: 15px 15px 0 0;
}
.restaurant-card__body {
  border-radius: 0 0 15px 15px;
}
.restaurant-card:hover {
  box-shadow: 0 5px 10px #c3c3c3;
}
.restaurant-card__image {
  position: relative;
  margin: 0;
  height: 200px;
  overflow: hidden;
}
.restaurant-card__image .label-new {
  position: absolute;
  top: 20px;
  right: 10px;
}
.restaurant-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 1.2rem 1.8rem 1.2rem 1rem;
  background-color: white;
}
.restaurant-card__body p {
  margin-top: 0.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 700px) {
  .restaurant-card {
    width: 50%;
  }
}

.footer {
  margin: 0;
  padding: 2rem;
  background-color: #373737;
}
.footer__logo {
  display: block;
  margin-bottom: 1.5rem;
  font-family: "Shrikhand", sans-serif;
  font-size: 16pt;
  color: #F6F6F6;
}
.footer__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  margin-bottom: 0.5rem;
  color: #F6F6F6;
}
.footer__icon {
  width: 1.8rem;
  font-size: 12pt;
}

@media only screen and (min-width: 700px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
  }
  .footer .group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0;
    width: 50%;
  }
}
.menu-heading {
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
}
.menu-heading__figure {
  height: 350px;
  overflow: hidden;
  margin: 0;
}
.menu-heading__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  position: absolute;
  bottom: 0;
  padding: 2rem 2rem 0.5rem 2rem;
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: #F6F6F6;
}
.menu-heading__title button {
  background-color: #F6F6F6;
}

.menu-section {
  padding-top: 0;
  padding-bottom: 2rem;
}
.menu-section__heading {
  margin-bottom: 0.3rem;
  font-size: 15pt;
  font-weight: 300;
  text-transform: uppercase;
}
.menu-section .menu-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  border-radius: 20px;
  box-shadow: 0 5px 10px #dddddd;
  margin: 1rem 0;
  background-color: white;
}
.menu-section .menu-card__image {
  border-radius: 20px 20px 0 0;
}
.menu-section .menu-card__body {
  border-radius: 0 0 20px 20px;
}
.menu-section .menu-card:hover {
  box-shadow: 0 5px 10px #c3c3c3;
}

.menu-card__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  padding: 1rem 0.8rem;
  width: 100%;
<<<<<<< HEAD
=======
  overflow: hidden;
<<<<<<< HEAD
=======
  white-space: nowrap;
  text-overflow: ellipsis;
>>>>>>> master
>>>>>>> TEST-check
}
.menu-card__body__name {
  font-size: 15pt;
  margin-bottom: 0.3rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card__body__byline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 0;
  width: 100%;
}
.menu-card__body__byline p {
  display: inline;
  font-weight: 300;
  font-size: 13pt;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-card__body__byline span {
  margin-left: 1.5rem;
  margin-right: 0.8rem;
  font-weight: bold;
  font-size: 13pt;
}

.check {
  display: none;
  border-radius: 0 20px 20px 0;
  width: 70px;
  font-size: 18pt;
  color: white;
  background-color: #99E2D0;
}

.menu-card:hover .check {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-shrink: 0;
}

.btn-order {
  padding-bottom: 5rem;
  text-align: center;
}
.btn-order > button {
  padding: 20px 60px;
}

/*# sourceMappingURL=styles.css.map */
