// Call-to-action section
.call-to-action {
    @include flexbox(column, center, center, 0);
    background-color: $color-background;
    padding: 3rem;
    
    // Headline
    & h2 {
        width: 70%;
        text-align: center;
        @include typography(index-h2);
    }

    // Byline
    & p {
        @include typography(text);
        width: 90%;
        text-align: center;
        font-size: 16pt;
        font-weight: 300;
    }
}