header {
    @include flex(row, center, center, 0);
    position: relative;
    padding-top: 0.7rem;
    height: 70px;

    outline: 1px solid black;

    // Title
    & span {
        @include typography(title);
    }

    // Back to home page link
    & a {
        display: flex;
        position: absolute;
        left: 25px;
        font-size: 16pt;
        color: lighten($color-text, 20%);
    }
}