header {
    @include flex("", center, center);
    position: relative;
    padding-top: 0.7rem;
    height: 70px;

    // Title in menu pages
    & span {
        font-family: $font-title;
        font-size: $size-title;
        font-weight: bold;
    }

    // Back to home page link
    & a {
        display: flex;
        position: absolute;
        left: 25px;
        font-size: 16pt;
        color: $color-text--lighter;
    }
}