// Location line

.location {
    @include flexbox (row, center, center, 15px);
    height: 60px;
    color: lighten($color-text, 20);
    background-color: darken($color-background, 5);
    box-shadow: 0px 3px 3px darken($color-background, 20) inset; 
}

.location__content {
    @include flexbox (row, center, center, 0);
    position: relative;

    & div {
        display: flex;
        position: absolute;
        left: -30px;
    }
}