// Location line
.location {
    @include flex(row, center, center, 15px);
    @include shadow(location);
    height: 60px;
    color: lighten($color-text, 20);
    background-color: darken($color-background, 5);
}

// Content
.location__content {
    @include flex(row, center, center, 0);
    position: relative;

    // Icon
    & div {
        display: flex;
        position: absolute;
        left: -30px;
    }
}