// Location line

.location {
    @include flexbox (row, center, center, 15px);
    height: 50px;
    color: lighten($color-text, 20);
    background-color: darken($color-background, 3);
}

.location__content {
    @include flexbox (row, center, center, 0);
    position: relative;

    & div {
        display: flex;
        position: absolute;
        left: -30px;
    }
}