// Menu pages heading section
.menu-heading {
    position: relative;
    padding: 0;
    margin-bottom: 2rem;

    // Image
    &__figure {
        height: 350px;
        overflow: hidden;
        margin: 0;
    }

    // Title
    &__title {
        @include flex("", space-between, flex-start);
        position: absolute;
        bottom: 0;
        padding: 2rem 2rem 0.5rem 2rem; 
        width: 100%;
        border-radius: 40px 40px 0 0;
        background-color: $color-background;

        // Like button
        & button {
            background-color: $color-background;
        }
    }
}