.menu-section {
    padding-top: 0;
    padding-bottom: 2rem;
    
    &__heading {
        margin-bottom: 0.3rem;
        font-size: $size-menu-h2;
        font-weight: 300;
        text-transform: uppercase;
    }
}
    
.course-card {
    @include flex(row, space-between, stretch, 0);
    @include radius(course-card);
    @include shadow(card);
    margin: 1rem 0;
    background-color: white;

    &__body {
        @include flex(row, space-between, flex-end, 0);
        padding: 0.8rem;
        width: 100%;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    // Dish subname
    &__name {
        font-size: $size-course-subname;
        font-weight: 300;
        line-height: 1.4;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        // Dish name
        & strong {
            display: block;
            font-size: $size-course-name;
            font-weight: bold;
        }
    }

    &__price {
        margin-left: 1.5rem;
        margin-right: 0.8rem;
        font-weight: bold;
        font-size: $size-course-price;
    }
}