// Restaurants list
.restaurants-list {
    @include flex(column, flex-start, stretch, 1.5rem);
}

// Restaurant card
.restaurant-card {
    @include shadow(card);
    border-radius: $radius-restaurant-card;
    height: 300px;

    &__image {
        position: relative;
        margin: 0;
        border-radius: $radius-restaurant-card $radius-restaurant-card 0 0;
        height: 70%;
        overflow: hidden;

        & .label-new {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

    &__content {
        @include flex(row, space-between, center, 0);
        border-radius: 0 0 $radius-restaurant-card $radius-restaurant-card;
        height: 30%;
        background-color: white;
    }
}