// Restaurants list
.restaurants-list {
    @include flex(column, flex-start, stretch, 1.5rem);
}

// Restaurant card
.restaurant-card {
    @include shadow(card);
    border-radius: $radius-restaurant-card;

    // Card image
    &__image {
        position: relative;
        margin: 0;
        border-radius: $radius-restaurant-card $radius-restaurant-card 0 0;
        height: 220px;
        overflow: hidden;

        // "New" label
        & .label-new {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

    // Card body
    &__body {
        @include flex(row, space-between, center, 0);
        border-radius: 0 0 $radius-restaurant-card $radius-restaurant-card;
        padding: 1.2rem 1rem;
        background-color: white;

        // Restaurant's location
        & p {
            margin-top: 0.4rem;
            font-weight: 300;
        }
    }
}