// Restaurants list
.restaurants-cards {
    @include flex(column, flex-start, stretch, 1.5rem);
    padding-bottom: 1.5rem;

    // 2-cards group
    &__group {
        @include flex(column, flex-start, stretch, 1.5rem);
        // Desktop responsive
        @media only screen and (min-width: $breakpoint-1) {
            @include flex(row, center, stretch, 1.5rem);
        }
    }
}

// Restaurant card
.restaurant-card {
    @include radius(card);
    @include shadow(card);

    // Card image
    &__image {
        position: relative;
        margin: 0;
        height: 200px;
        overflow: hidden;

        // "New" label
        & .label-new {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

    // Card body
    &__body {
        @include flex(row, space-between, center, 0);
        padding: 1.2rem 1.8rem 1.2rem 1rem;
        background-color: white;

        // Restaurant's location
        & p {
            margin-top: 0.4rem;
            font-weight: 300;
        }
    }

    // Card desktop responsive
    @media only screen and (min-width: $breakpoint-1) {
        width: 50%;
    }
}