@use '../../utils/variables/var-general' as vg;
@use '../../utils/variables/var-index' as vi;
@use '../../utils/mixins' as mix;

.call-to-action {
    padding: 0;

    &__content {
        @include mix.flex(column, center, center, 1.5rem);
        padding: vg.$padding-y vg.$padding-x;
        
        // Headline
        & h2 {
            margin: 0;
            width: 70%;
            text-align: center;
            font-size: vi.$size-index-h2;
        }
    
        // Byline
        & p {
            margin-bottom: 0.5rem;
            width: 90%;
            text-align: center;
            font-size: calc(vi.$size-index-h2 - 6pt);
            font-weight: 300;
        }
    }
}