@use '../../utils/variables/var-general' as vg;
@use '../../utils/mixins' as mix;

// Location line below home page header
.location {
    @include mix.flex('', center, center);
    @include mix.shadow(location);
    height: 60px;
    background-color: vg.$color-background--darker;
}

.location__content {
    @include mix.flex('', center, center);
    position: relative;
    color: vg.$color-text--lighter;

    & .location__icon {
        position: absolute;
        left: -30px;
    }
}