.restaurants-list {
    @include flex(column, flex-start, stretch, 1.5rem);
    padding-bottom: 1.5rem;

    // 2-cards group
    &__group {
        @include flex(column, flex-start, stretch, 1.5rem);

        // Medium screens and above
        @media only screen and (min-width: $screen-md) {
            @include flex(row, center, stretch);
        }
    }
}

.restaurant-card {
    @include radius(restaurant-card);
    @include shadow(card);
    position: relative;

    // Medium screens
    @media only screen and (min-width: $screen-md) {
        width: 50%;
    }

    // Large screens and above
    @media only screen and (min-width: $screen-lg) {
        margin: 10px;
    }

    &__image {
        position: relative;
        margin: 0;
        height: 200px;
        overflow: hidden;

        // "Nouveau" label
        & .label-new {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }

    &__body {
        @include flex("", space-between, center);
        padding: 1.2rem 1.8rem 1.2rem 1rem;
        background-color: white;

        // Restaurant's location
        & p {
            margin-top: 0.4rem;
            font-weight: 300;
        }
    }

    & .btn-like {
        position: absolute;
        right: 30px;
        bottom: 20px;
    }
}

// Photo positioning to see the plate with all screen sizes
.restaurant-card__image img {
    position: absolute;
    bottom: 0;

    @media only screen and (min-width: $screen-sm) {
        bottom: -30px;
    }

    @media only screen and (min-width: $screen-md) {
        bottom: auto;
        top: 0;
    }

    @media only screen and (min-width: $screen-xl) {
        top: auto;
        bottom: -20px;
    }
}