@use '../../utils/variables' as *;
@use '../../utils/mixins' as mix;

.restaurants-list {
    @include mix.flex(column, flex-start, stretch, 1.5rem);
    padding-bottom: $padding-y;

    // 2-cards group
    &__group {
        @include mix.flex(column, flex-start, stretch, 1.5rem);

        // Medium screens and above
        @media only screen and (min-width: $screen-md) {
            @include mix.flex(row, center, stretch);
        }
    }
}

.restaurant-card {
    @include mix.radius(restaurant-card);
    @include mix.shadow(card);
    position: relative;

    &__image {
        position: relative;
        margin: 0;
        height: 200px;
        overflow: hidden;

        // 'Nouveau' label
        &.new::after {
            @include mix.label-new;
        }
    }

    &__body {
        @include mix.flex('', space-between, center);
        padding: 1.2rem 1.8rem 1.2rem 1rem;
        background-color: white;

        // Restaurant's location
        & p {
            margin-top: 0.4rem;
            font-weight: 300;
        }
    }

    .btn-like-container {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
    }

    // Medium screens card
    @media only screen and (min-width: $screen-md) {
        width: 50%;
    }

    // Large screens and above card
    @media only screen and (min-width: $screen-lg) {
        margin: 10px;
    }
}

// Photo positioning to see the plate with all screen sizes
.restaurant-card__image img {
    position: absolute;
    bottom: 0;

    @media only screen and (min-width: $screen-sm) {
        bottom: -30px;
    }

    @media only screen and (min-width: $screen-md) {
        bottom: auto;
        top: 0;
    }

    @media only screen and (min-width: $screen-xl) {
        top: auto;
        bottom: -20px;
    }
}