//Tutorial section
.tutorial {
    background-color: white;

    // Tutorial list
    &__list {
        @include flex(column, center, stretch, 1.5rem);
        margin: 0;
        padding: 0 0 0 0.8rem;

        // Large screens and above
        @media only screen and (min-width: $screen-lg) {
            @include flex(row, flex-start, center, 3rem);
        }
    }
}

// Tutorial step
.step {
    @include flex('', stretch, center);
    position: relative;

    // Large screens and above
    @media only screen and (min-width: $screen-lg) {
        width: 33%;
    }

    // Step content
    &__content {
        @include flex('', flex-start, center, 1.5rem);
        @include radius(tutorial);
        @include shadow(card);
        padding: 0 2rem;
        width: 100%;
        height: 80px;
        background-color: $color-background;
    
        // Step icon
        &__icon {
            font-size: 16pt;
            color: lighten($color-text, 40);
        } 

        // Hover effect
        &:hover {
            background-color: lighten($color-primary, 35);
        }

        // Icon hover effect
        &:hover &__icon {
            color: $color-primary;
        }
    }

    // Step number
    &__number {
        @include circle-center(1.6rem);
        position: absolute;
        left: -0.8rem;
        font-size: 12pt;
        color: white;
        background-color: $color-primary;
    }
}
