@use '../utils/variables/var-general' as vg;
@use '../utils/mixins' as mix;

// Text buttons
.btn-text {
    @include mix.gradient(btn-text);
    @include mix.shadow(btn);
    border: none;
    border-radius: 100px;
    width: fit-content;
    font-size: vg.$size-text;
    color: white;
    cursor: pointer;

    // Opacity and scale animation
    transition: all vg.$anim-btn-text-duration;

    &:hover {
        opacity: 0.9;
        transform: scale(1.02);
    }

    // Explore button (home page)
    &--explore {
        padding: vg.$padding-btn-text--explore;
    }

    // Order button (menu pages)
    &--order {
        padding-bottom: 5rem;
        text-align: center;

        & > button {
            padding: vg.$padding-btn-text--order;
        }
    }   
}

// Heart-shaped button
.btn-like {
    position: relative;
    border: none;
    width: vg.$size-btn-like;
    height: vg.$size-btn-like;
    background-color: transparent;

    // Empty heart
    &::before {
        @include mix.heart(regular);
    }

    // Gradient-colored heart
    &::after {
        @include mix.heart(solid);
        @include mix.gradient(btn-like);
        opacity: 0;
        
        // Opacity and scale animation
        transition: (opacity vg.$anim-btn-like-duration, transform vg.$anim-btn-like-duration ease-in);
    }

    &:hover::after {
        opacity: 1;
        transform: scale(1.15);
    }
}