// Text button
.btn-text {
    @include shadow(button);
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: fit-content;
    font-size: $size-text;
    color: white;
    background-image: $btn-text-gradiant;

    &:hover {
        background-image: $btn-text-gradiant--hover;
    }
}

// Like button
.btn-like {
    border: none;
    height: $btn-like-size;
    width: $btn-like-size;
    background-color: white;

    &__outline {
        fill: black;
    }

    &__background {
        fill: white;
    }
}