// Text buttons
.btn-text {
    @include shadow(btn);
    border: none;
    border-radius: 50px;
    padding: 20px;
    width: fit-content;
    font-size: $size-text;
    color: white;
    background-image: $gradient-btn--text;
    cursor: pointer;

    transition: all 200ms;

    &:hover {
        background-image: $gradient-btn--text;
        opacity: 0.9;
        transform: scale(1.02);
    }
}

// Order button at the bottom of menu pages
.btn-text--order {
    padding-bottom: 5rem;
    text-align: center;

    & > button {
        padding: 20px 60px;
    }
}

// Heart-shaped like button
.btn-like {
    position: relative;
    border: none;
    width: $size-btn-like;
    height: $size-btn-like;
    background-color: transparent;
    cursor: pointer;

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: $size-btn-like;
    }

    // Gradient heart
    &--gradient {
        color: transparent;
        background-image: $gradient-btn--like;
        background-clip: text;
        opacity: 0;
    
        // Opacity & scale animation
        transition: opacity 200ms, transform 100ms 100ms ease-in;
    
        &:hover {
            opacity: 1;
            transform: scale(1.15);
        }
    }
}