.check {
    font-size: $size-check--icon;
    color: white;
    // color: $color-primary;
    background-color: $color-tertiary;
}

.check--course {
    position: relative;
    @include flex("", center, center);
    flex-shrink: 0;
    border-radius: $radius-check--course;
    width: 0;

    // Icon
    & > i {
        padding-left: $size-check--icon;
    }
}

// Check effect on card hover
.course-card:hover .check--course {
    width: $size-check--course;
    animation: check-slide-in $anim-check-duration linear;

    & > i {
        // padding-left: 0;
        animation: check-padding $anim-check-duration linear forwards;
    }
}

@keyframes check-slide-in {
    from {
        width: 0;
    }
    to {
        width: 70px;
    }
}

@keyframes check-padding {
    0% {
        padding-left: $size-check--icon;
    }
    20% {
        padding-left: $size-check--icon + (0.2 * $size-check--course);
    }
    100% {
        padding-left: 0;
    }
}