// Label 'Nouveau' for restaurant card
.label-new {
    @include radius(label-new);
    padding: 0.5rem;
    width: fit-content;
    font-size: $size-label-new;
    font-weight: bold;
    color: darken($color-tertiary, 45);
    background-color: $color-tertiary;
}