@use '../utils/variables/var-general' as vg;
@use '../utils/variables/var-index' as vi;
@use '../utils/mixins' as mix;

.spinner-container {
    @include mix.flex('', center, center);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: vg.$color-background--spinner;
    z-index: 1;

    // Pop-out animation for test purposes
    animation: pop-out 0s 2s forwards;

    @keyframes pop-out {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-9999px);
        }
    }
}

.spinner {
    @include mix.flex('', center, center);
    position: relative;

    &__outer {
        @include mix.spinner(outer);
        animation: spinner-rotation-outer 2s linear both 3; // Keyframes in the mixin
    }

    &__middle {
        @include mix.spinner(middle);
        animation: spinner-rotation-middle 1.5s linear both reverse 3; // Keyframes in the mixin
    }

    &__inner {
        @include mix.spinner(inner);
    }
}