@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(240deg);
    }
    66% {
        transform: rotate(480deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

.spinner-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: $color-background--spinner;
    z-index: 1;
}

.spinner {
    position: absolute;
    border: 9px solid $color-primary;
    border-top-color: $color-tertiary;
    // border-image: linear-gradient(170deg, $color-secondary, $color-primary) 10;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    // animation: spinner 3s 500ms cubic-bezier(.14,.83,.56,1) infinite;
    animation: spinner 3s 500ms ease-out 3;
}