* {
    box-sizing: border-box;
    font-family: $font-text;
}

// Smooth scrolling
html {
    scroll-behavior: smooth;
    // Classic scrolling if user preference
    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1000px;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    @include typography(title);
}

h2 {
    margin-bottom: $margin-b-h2;
}

span, p {
    @include typography(text);
    margin: 0;
}

a {
    @include typography(text);
    text-decoration: none;
    color: $color-text;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

section {
    padding: 3rem 1.5rem;
    background-color: $color-background;
}