@use '../utils/variables/var-general' as vg;

* {
    box-sizing: border-box;
    font-family: vg.$font-text;
}

// Smooth scrolling
html {
    scroll-behavior: smooth;
    // Classic scrolling if user preference
    @media screen and (prefers-reduced-motion: reduce) {
        scroll-behavior: auto;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
}

main {
    background-color: vg.$color-background;
}

a {
    font-size: vg.$size-text;
    text-decoration: none;
    color: vg.$color-text;
}

// Keyboard focus effect
a:focus,
button:focus, .btn-text:focus {
    outline: 5px solid vg.$color-secondary;
}
a:focus:not(:focus-visible),
button:focus:not(:focus-visible), .btn-text:focus:not(:focus-visible) {
    outline: 0;
}

h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: vg.$font-title;
    font-size: vg.$size-title;
}

// Home page sections title
.index-h2 {
    margin-bottom: 1.5rem;
}

span, p {
    margin: 0;
    font-size: vg.$size-text;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
}

section {
    padding: vg.$padding-y vg.$padding-x;
}