.check {
    @include flex("", center, center);
    flex-shrink: 0;
    position: relative;
    width: 0;  
    font-size: $size-check--icon;
    color: white;
    background-color: $color-tertiary;
    transition: width $anim-check-duration $anim-check-timing;

    // Icon container
    &__icon {
        position: absolute;
        right: - $size-check--icon;      
        animation: check-position-out $anim-check-duration $anim-check-timing;

        // Icon
        & > i {
            transition: rotate $anim-check-duration $anim-check-timing;
        }
    }
}

// =============================
//  Hover effect with animation
// =============================

// Slide-in from the right
.course-card:hover .check {
    width: $size-check--course;
    animation: check-slide-in $anim-check-duration $anim-check-timing;

    // Icon center positioning
    &__icon {
        right: 50%; 
        transform: translateX(50%); 
        animation: check-position-in $anim-check-duration $anim-check-timing forwards;

        // Rotation
        & > i {
            animation: check-rotate (0.75 * $anim-check-duration) (0.25 * $anim-check-duration) $anim-check-timing forwards;
        }
    }
}

// ===========
//  Keyframes
// ===========

@keyframes check-slide-in {
    from { width: 0; }
    to { width: $size-check--course; }
}

@keyframes check-rotate {
    from { rotate: 1deg; }
    to { rotate: 360deg; }
}

@keyframes check-position-in {
    from {
        right: - $size-check--icon;
    }
    to { 
        right: 50%; 
        transform: translateX(50%); 
    }
}

@keyframes check-position-out {
    from { 
        right: 50%; 
        transform: translateX(50%); 
    }
    to {
        right: - $size-check--icon;
        transform: translateX(0);
    }
}