@use '../../utils/variables/var-general' as vg;
@use '../../utils/mixins' as mix;

// Menu pages heading section
.menu-heading {
    position: relative;
    padding: 0;
    margin-bottom: 2rem;

    &__image {
        position: relative;
        height: 350px;
        overflow: hidden;
        margin: 0;
    }

    &__title {
        @include mix.flex('', space-between, flex-start, 1.2rem);
        @include mix.radius(menu-title);
        position: absolute;
        bottom: 0;
        padding: 2rem calc(vg.$padding-x + 1rem) 0.5rem vg.$padding-x; 
        width: 100%;
        background-color: vg.$color-background;

        // Medium screens
        @media only screen and (min-width: vg.$screen-md) {
            justify-content: flex-start;
            gap: 35px;
            padding-left: vg.$padding-x--md;
        }

        // Large screens and above
        @media only screen and (min-width: vg.$screen-lg) {
            padding-left: vg.$padding-x--lg;
            padding-bottom: 1.5rem;
        }
    }
}

// Photo positioning to see the plate with all screen sizes
.menu-heading__image img {
    position: absolute; 

    @media only screen and (min-width: vg.$screen-md) {
        bottom: 0;
    }

    @media only screen and (min-width: vg.$screen-xl) {
        bottom: -50px;
    }

    @media only screen and (min-width: vg.$screen-xxl) {
        bottom: -100px;
    }
}