// Menu pages heading section
.menu-heading {
    position: relative;
    padding: 0;
    margin-bottom: 2rem;

    &__image {
        position: relative;
        height: 350px;
        overflow: hidden;
        margin: 0;
    }

    &__title {
        @include flex('', space-between, flex-start);
        @include radius(menu-title);
        position: absolute;
        bottom: 0;
        padding: 2rem ($padding-x + 1rem) 0.5rem $padding-x; 
        width: 100%;
        background-color: $color-background;

        // Medium screens
        @media only screen and (min-width: $screen-md) {
            justify-content: flex-start;
            gap: 35px;
            padding-left: $padding-x--md;
        }

        // Large screens and above
        @media only screen and (min-width: $screen-lg) {
            padding-left: $padding-x--lg;
            padding-bottom: 1.5rem;
        }
    }
}

// Photo positioning to see the plate with all screen sizes
.menu-heading__image img {
    position: absolute; 

    @media only screen and (min-width: $screen-md) {
        bottom: 0;
    }

    @media only screen and (min-width: $screen-xl) {
        bottom: -50px;
    }

    @media only screen and (min-width: $screen-xxl) {
        bottom: -100px;
    }
}