.menu-section {
    padding-top: 0;
    padding-bottom: 2rem;
    
    &__heading {
        margin-bottom: 0.3rem;
        font-size: $size-menu-h2;
        font-weight: 300;
        text-transform: uppercase;
    }

    // Medium screens
    @media only screen and (min-width: $screen-md) {
        padding: 0 $padding-x--md 3rem $padding-x--md;
    }

    // Large screens and above
    @media only screen and (min-width: $screen-lg) {
        padding-left: $padding-x--lg;
        padding-right: $padding-x--lg;
    }
}
    
// Course card
.course {
    @include flex("", space-between, stretch);
    @include radius(course-card);
    @include shadow(card);
    margin: 1rem 0;
    background-color: white;
    overflow: hidden;

    &__body {
        @include flex("", space-between, flex-end);
        padding: 0.8rem;
        width: 100%;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        // Course name
        & h3 {
            font-size: $size-course-name;
            font-weight: bold;
            line-height: 1.4;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        // Course subname
        & p {
            font-size: $size-course-subname;
            font-weight: 300;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__price {
        margin-left: 1.5rem;
        margin-right: 0.8rem;
        font-weight: bold;
        font-size: $size-course-price;
    }
}