@use '../../utils/variables' as *;
@use '../../utils/mixins' as mix;

.menu-section {
    position: relative;
    padding-top: 0;
    padding-bottom: 2rem;
    opacity: 0;

    animation: appear $anim-menu-duration ease-out forwards;
    
    &__heading {
        position: relative;
        margin-bottom: calc($size-menu-h2 * 1.5);
        width: fit-content;
        font-size: $size-menu-h2;
        font-weight: 300;
        text-transform: uppercase;

        // Decorative underline
        &::after {
            @include mix.menu-underline;
        }
    }

    // Medium screens
    @media only screen and (min-width: $screen-md) {
        padding: 0 $padding-x--md 3rem $padding-x--md;
    }

    // Large screens and above
    @media only screen and (min-width: $screen-lg) {
        padding-left: $padding-x--lg;
        padding-right: $padding-x--lg;
    }
}
    
// Course card
.course {
    @include mix.flex('', space-between, stretch);
    @include mix.radius(course-card);
    @include mix.shadow(card);
    margin: 1rem 0;
    background-color: white;

    overflow: hidden;

    &__body {
        @include mix.flex('', space-between, flex-end);
        padding: 0.8rem;
        width: 100%;
        
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        // Course name
        & h3 {
            font-size: $size-course-name;
            font-weight: bold;
            line-height: 1.4;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        // Course subname
        & p {
            font-size: $size-course-subname;
            font-weight: 300;

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__price {
        margin-left: 1.5rem;
        margin-right: 0.8rem;
        font-weight: bold;
        font-size: $size-course-price;
    }
}

// Menu sections appearance
@keyframes appear {
    0% {
        opacity: 0;
        top: 15px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

// Incremental delay
@for $i from 1 through 4 {
    .menu-section:nth-child(#{$i}) {
        animation-delay: calc(($i * $anim-menu-delay) - $anim-menu-delay);
    }
}