@use 'variables/var-general' as vg;
@use 'variables/var-index' as vi;
@use 'variables/var-menu' as vm;

$gradient-map: (
    btn-text: (
        gradient: vg.$gradient-btn--text,
    ),
    btn-like: (
        gradient: vg.$gradient-btn--like,
        color: transparent,
        clip: text,
    ),
);

$shadow-map: (
    location: (
        shadow: 0px 3px 3px darken(vg.$color-background, 20) inset,
    ),
    btn: (
        shadow: 0 5px 10px darken(vg.$color-background, 20),
        hover: 0 5px 10px darken(vg.$color-background, 30),
    ),
    card: (
        shadow: 0 5px 10px darken(vg.$color-background, 10),
        hover: 0 5px 10px darken(vg.$color-background, 20),
    ),
);

$radius-map: (
    tutorial: (
        radius: vi.$radius-tutorial-step,
    ),
    restaurant-card: (
        radius: vi.$radius-restaurant-card,
        image: vi.$radius-restaurant-card vi.$radius-restaurant-card 0 0,
        body: 0 0 vi.$radius-restaurant-card vi.$radius-restaurant-card,
    ),
    label-new: (
        radius: vi.$radius-label-new,
    ),
    menu-title: (
        radius: vm.$radius-menu-title vm.$radius-menu-title 0 0,
    ),
    course-card: (
        radius: vm.$radius-course-card,
    ),
);

// Heart icon
$heart-map: (
    regular: var(--fa-font-regular),
    solid: var(--fa-font-solid),
);