// Shadow
$shadow-map: (
    location: (
        shadow: 0px 3px 3px darken($color-background, 20) inset,
    ),
    btn: (
        shadow: 0 5px 10px darken($color-background, 20),
        hover: 0 5px 10px darken($color-background, 30),
    ),
    card: (
        shadow: 0 5px 10px darken($color-background, 10),
        hover: 0 5px 10px darken($color-background, 20),
    ),
);

// Radius
$radius-map: (
    tutorial: (
        radius: $radius-tutorial-step,
    ),
    restaurant-card: (
        radius: $radius-restaurant-card,
        image: $radius-restaurant-card $radius-restaurant-card 0 0,
        body: 0 0 $radius-restaurant-card $radius-restaurant-card,
    ),
    label-new: (
        radius: $radius-label-new,
    ),
    menu-title: (
        radius: $radius-menu-title $radius-menu-title 0 0,
    ),
    course-card: (
        radius: $radius-course-card,
    ),
);

// Gradient
$gradient-map: (
    btn-text: (
        linear: linear-gradient(170deg, $color-secondary, $color-primary),
        hover: linear-gradient(170deg, lighten($color-secondary, 4), lighten($color-primary, 4)),
    ),
    btn-like: (
        color-1: $color-primary,
        color-2: $color-secondary,
    ),
);