// Typography
$typography-map: (
    title: (
        font: $font-title,
        size: $size-title,
        weight: normal,
    ),
    text: (
        font: $font-text,
        size: $size-text,
        weight: normal,
    ),
    index-h2: (
        font: $font-text,
        size: $size-index-h2,
        weight: bold,
    ),
);

// Shadow
$shadow-map: (
    location: (
        shadow: 0px 3px 3px darken($color-background, 20) inset, 
        hover: 0px 3px 3px darken($color-background, 20) inset, 
    ),
    btn: (
        shadow: 0 5px 10px darken($color-background, 20),
        hover: 0 5px 10px darken($color-background, 30),
    ),
    card: (
        shadow: 0 5px 10px darken($color-background, 10),
        hover: 0 5px 10px darken($color-background, 20),
    ),
);

// Radius
$radius-map: (
    restaurant-card: (
        radius: $radius-restaurant-card,
    ),
    menu-card: (
        radius: $radius-menu-card,
    ),
    tutorial: (
        radius: $radius-tutorial-step,
    ),
    label-new: (
        radius: $radius-label-new,
    ),
);

// Gradient
$gradient-map: (
    btn-text: (
        linear: linear-gradient(170deg, $color-secondary, $color-primary),
        hover: linear-gradient(170deg, lighten($color-secondary, 4), lighten($color-primary, 4)),
    ),
    btn-like: (
        color-1: $color-primary,
        color-2: $color-secondary,
    ),
);