// Flexbox
// 'direction: row' MUST BE marked by ""
// 'gap' optional
@mixin flex($direction:"", $justify, $align, $gap:"") {
    display: flex;
    flex-direction: #{$direction};
    justify-content: $justify;
    align-items: $align;
    gap: #{$gap};
}

// Shadow
@mixin shadow($type) {
    $palette: map-get($shadow-map, $type);
    box-shadow: map-get($palette, shadow);

    &:hover {
        box-shadow: map-get($palette, hover);
    }
}

// Radius
@mixin radius($type) {
    $palette: map-get($radius-map, $type);
    border-radius: map-get($palette, radius);

    &__image {
        border-radius: map-get($palette, image);
    }
    
    &__body {
        border-radius: map-get($palette, body);
    }
}

// Heart icon
@mixin heart($type) {
    $palette: map-get($heart-map, $type);

    // Fontawesome properties
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: $palette;
    content: "\f004";

    // Custom properties
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: $size-btn-like;
}

// Round element with centered content
@mixin circle-center($length) {
    border-radius: 50%;
    width: $length;
    height: $length;
    line-height: $length;
    text-align: center;
}