// Flexbox
@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

// Typography
@mixin typography($type) {
    $palette: map-get($typography-map, $type);
    font-family: map-get($palette, font);
    font-size: map-get($palette, size);
    font-weight: map-get($palette, weight);
}

// Shadow
@mixin shadow($type) {
    $palette: map-get($shadow-map, $type);
    box-shadow: map-get($palette, shadow);

    &:hover {
        box-shadow: map-get($palette, hover);
    }
}

// Radius
@mixin radius($type) {
    $palette: map-get($radius-map, $type);
    border-radius: map-get($palette, radius);

    &__image {
        border-radius: map-get($palette, radius) map-get($palette, radius) 0 0;
    }
    
    &__body {
        border-radius: 0 0 map-get($palette, radius) map-get($palette, radius);
    }
}

// Square element with centered content
@mixin square-center($length) {
    width: $length;
    height: $length;
    line-height: $length;
    text-align: center;
}

// Round element with centered content
@mixin circle-center($length) {
    border-radius: calc($length / 2);
    width: $length;
    height: $length;
    line-height: $length;
    text-align: center;
}