@use 'variables/var-general' as vg;
@use 'variables/var-index' as vi;
@use 'variables/var-menu' as vm;
@use 'maps' as map;

// Flexbox
// 'direction: row' MUST BE marked by ''
// 'gap' optional
@mixin flex($direction:'', $justify, $align, $gap:'') {
    display: flex;
    flex-direction: #{$direction};
    justify-content: $justify;
    align-items: $align;
    gap: #{$gap};
}

@mixin gradient($type) {
    $palette: map-get(map.$gradient-map, $type);
    background-image: map-get($palette, gradient);
    color: map-get($palette, color);
    -webkit-background-clip: map-get($palette, clip);
    background-clip: map-get($palette, clip);
}

@mixin shadow($type) {
    $palette: map-get(map.$shadow-map, $type);
    box-shadow: map-get($palette, shadow);

    &:hover {
        box-shadow: map-get($palette, hover);
    }
}

@mixin radius($type) {
    $palette: map-get(map.$radius-map, $type);
    border-radius: map-get($palette, radius);

    &__image {
        border-radius: map-get($palette, image);
    }
    
    &__body {
        border-radius: map-get($palette, body);
    }
}

@mixin spinner($type) {
    $palette: map-get(map.$spinner-map, $type);
    position: absolute;
    border: vi.$thickness-spinner solid map-get($palette, color);
    border-top-color: transparent;
    border-radius: 50%;
    width: map-get($palette, size);
    height: map-get($palette, size);
    background-color: map-get($palette, bg);
    
    transform: rotate(map-get($palette, rotate));

    // 360° clockwise rotation
    @keyframes spinner-rotation-#{$type} {
        0% {
            transform: rotate(map-get($palette, rotate));
        }
        100% {
            transform: rotate(map-get($palette, rotate) + 1turn);
        }
    }
}

// Heart icon
@mixin heart($type) {
    $palette: map-get(map.$heart-map, $type);

    // Fontawesome properties
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: $palette;
    content: '\f004';

    // Custom properties
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: vg.$size-btn-like;
}

// Menu headings decorative underline
@mixin menu-underline {
    content: '';
    position: absolute;
    bottom: calc(vm.$size-menu-h2 / -2.5);
    left: 0;
    width: vm.$size-menu-underline;
    height: calc(vm.$size-menu-h2 * 0.15);
    background-color: vg.$color-tertiary;
}

@mixin label-new {
    @include radius(label-new);
    content: 'Nouveau';
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    width: fit-content;
    font-size: vi.$size-label-new;
    font-weight: bold;
    color: darken(vg.$color-tertiary, 45);
    background-color: vg.$color-tertiary;
}

@mixin tutorial-number {
    @include circle-center(vi.$size-tuto-number); // Circle height adapts to font-size
    position: absolute;
    left: calc(vi.$size-tuto-number / -2);
    font-size: calc(vg.$size-text - 2pt); // Number font-size slightly smaller than text
    color: white;
    background-color: vg.$color-primary;
}

// Round element with centered content
@mixin circle-center($length) {
    border-radius: 50%;
    width: $length;
    height: $length;
    line-height: $length;
    text-align: center;
}