// Colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text: #000;
$color-background: #F6F6F6;

// Fonts
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;

// Font sizes
$font-title-size: 24pt;
$font-text-size: 14pt;