// Breakpoints
$screen-sm: 500px;
$screen-md: 650px;
$screen-lg: 800px;
$screen-xl: 950px;
$screen-xxl: 1050px;

// Sections padding
$padding-x: 1.3rem; // left-right
$padding-x--md: 1.8rem; // left-right
$padding-x--lg: 2.8rem; // left-right
$padding-y: 3rem; // top-bottom

// Theme colors
$color-primary: hsl(267, 66%, 60%);
$color-secondary: hsl(317, 100%, 74%);
$color-tertiary: hsl(165, 56%, 74%);

// Text & background colors
$color-background: hsl(0, 0%, 96%);
$color-background--spinner: transparentize($color-background, 0.15);
$color-background--location: darken($color-background, 5);
$color-background--footer: darken($color-background, 75);
$color-text: hsl(0, 0%, 0%);
$color-text--lighter: lighten($color-text, 20);

// Gradient colors
$gradient-btn--text: linear-gradient(170deg, $color-secondary, $color-primary);
$gradient-btn--like: linear-gradient(10deg, $color-secondary, $color-primary);

// Fonts
$font-title: ('Shrikhand', sans-serif);
$font-text: ('Roboto', sans-serif);

// Font sizes - headings & text
$size-title: 24pt;
$size-text: 14pt;
$size-index-h2: 22pt;
$size-menu-h2: 15pt;

// Font sizes - course card
$size-course-name: 15pt;
$size-course-subname: 13pt;
$size-course-price: 13pt;

// Sizes - small components
$size-btn-like: 2rem;
$size-header-arrow: 16pt;
$size-label-new: 12pt;
$size-menu-underline: 3rem;
$size-tuto-icon: calc($size-text + 2pt); // Icon size adapts to text
$size-check--icon: 28px;
$size-check--course: 75px; // Check container in course cards

// Border radius
$radius-tutorial-step: 20px;
$radius-restaurant-card: 15px;
$radius-label-new: 5px;
$radius-menu-title: 40px;
$radius-course-card: 20px;

// Animations
$anim-btn--text-duration: 200ms;
$anim-btn--like-duration: 200ms;

$anim-check-duration: 270ms;
$anim-check-timing: cubic-bezier(0,.1,.58,1);

$anim-menu-duration: 750ms;
$anim-menu-delay: 200ms;