// Breakpoints
$screen-sm: 500px;
$screen-md: 650px;
$screen-lg: 800px;
$screen-xl: 950px;

// Sections horizontal padding
$padding-x: 1.3rem;
$padding-x--md: 1.8rem;
$padding-x--lg: 2.8rem; 

// Theme colors
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;

// Text & background colors
$color-background: #F6F6F6;
$color-background--spinner: transparentize($color-background, 0.15);
$color-background--footer: darken($color-background, 75);
$color-text: #000;
$color-text--lighter: lighten($color-text, 20);

// Fonts
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;

// Font sizes - headings & text
$size-title: 24pt;
$size-text: 14pt;
$size-index-h2: 22pt;
$size-menu-h2: 15pt;

// Font sizes - course card
$size-course-name: 15pt;
$size-course-subname: 13pt;
$size-course-price: 13pt;

// Sizes - small components
$size-btn-like: 40px;
$size-header-arrow: 16pt;
$size-label-new: 12pt;
$size-check--icon: 28px;
$size-check--course: 75px; // Check container in course cards

// Border radius
$radius-tutorial-step: 20px;
$radius-restaurant-card: 15px;
$radius-label-new: 5px;
$radius-menu-title: 40px;
$radius-course-card: 20px;

// Animations
$anim-check-duration: 270ms;
$anim-check-timing: cubic-bezier(0,.1,.58,1);