@use '../../utils/variables' as *;
@use '../../utils/mixins' as mix;

.footer {
    margin: 0;
    padding: $padding-x;
    background-color: $color-background--footer;

    // Logo ohmyfood
    &__logo {
        display: block;
        margin-bottom: 1.5rem;
        font-family: $font-title;
        font-size: calc($size-text + 2pt);
        color: $color-background;
    }

    &__link {
        @include mix.flex('', flex-start, center);
        margin-bottom: 0.5rem;
        color: $color-background;
    }

    &__icon {
        width: 1.8rem;
        font-size: calc($size-text - 2pt);
    }
}

// Medium screens
@media only screen and (min-width: $screen-md) {

    .footer {
        padding: $padding-x--md;
    }

    .footer-links {
        @include mix.flex('', flex-start, flex-start);

        // 2-links group
        &__group {
            flex-direction: column;
            width: 50%;
        }
    }
}

// Large screens and above
@media only screen and (min-width: $screen-lg) {
    
    .footer {
        padding-left: $padding-x--lg;
    }
}