header {
    @include flex('', center, center);
    position: relative;
    padding-top: 0.7rem;
    height: 70px;

    // Ohmyfood title in menu pages
    & span {
        font-family: $font-title;
        font-size: $size-title;
        font-weight: bold;
    }

    // Back to home page arrow
    & a {
        position: absolute;
        left: 25px;
        font-size: $size-header-arrow;
        color: $color-text--lighter;
    }
}