@use '../../utils/variables/var-general' as vg;
@use '../../utils/variables/var-menu' as vm;
@use '../../utils/mixins' as mix;

header {
    @include mix.flex('', center, center);
    position: relative;
    padding-top: 0.7rem;
    height: 70px;

    // Ohmyfood title in menu pages
    & span {
        font-family: vg.$font-title;
        font-size: vg.$size-title;
        font-weight: bold;
    }

    // Back to home page arrow
    & a {
        position: absolute;
        left: 25px;
        font-size: vm.$size-header-arrow;
        color: vg.$color-text--lighter;
    }
}